{% extends _layout %}

{% block css %}
    {# -- the comment -- #}
{% endblock %}

{% block content %}
    <div class="row fourofour">
        <div class="col-lg-12">
            <div class="fourofour">
                <div class="fourofour-container">
                    <h1>
                        404
                    </h1>
                    <h2>
                        It looks like you're lost.
                    </h2>
                    <a class="btn btn-lg btn-default-outline" href="{{ site_url('/dashboard') }}"><i class="fa fa-home"></i>Go to the dashboard</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {# -- the comment -- #}
{% endblock %}
