<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="En">

<head>
    <meta charset="UTF-8">
    <title>Whoops!!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {#<link rel="stylesheet" href="../../cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css" type="text/css">#}
    {{ css('error.css', 'all', 'css') }}
</head>

<body>
<section id="animation">
    <div class="anim-icon" id="404"></div>
</section>

{{ js('animation404.js', 'js') }}
</body>

</html>