<table class="table table-bordered">
    <tr>
        <td>Company Name</td>
        <td>{{ company.name }}</td>
    </tr>
    <tr>
        <td>Short Code</td>
        <td>{{ company.short_code }}</td>
    </tr>
</table>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>