<table class="table table-bordered">
    <tr>
        <td>Room Name</td>
        <td>{{ room.name }}</td>
    </tr>
    <tr>
        <td>Room Short Code</td>
        <td>{{ room.short_code }}</td>
    </tr>
    <tr>
        <td>Department</td>
        <td>{{DepT(room.department) }}</td>
    </tr>
</table>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>