<table class="table table-bordered">
    <tr>
        <td>ADM Process ID</td>
        <td>{{ process.adm_process_id }}</td>
    </tr>
    <tr>
        <td>ADM Process Name</td>
        <td>{{ process.adm_process_name }}</td>
    </tr>
</table>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>